<nav class="nav flex-column nav-pills">
    <a class="nav-link active" href="#">Profile</a>
    @*<a class="nav-link" href="#">Email Preferences</a>
    <a class="nav-link" href="#">Delete Account</a>*@
</nav>