<nav class="nav flex-column nav-pills">
    <a asp-action="Index" class="nav-link @ManageNavPages.IndexNavClass(ViewContext)">Profile</a>
    <a asp-action="EmailPreferences" class="nav-link @ManageNavPages.EmailPreferencesNavClass(ViewContext)">Email Preferences</a>
    @*<a class="nav-link" href="#">Delete Account</a>*@
</nav>