@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Access Denied";
}

<h4>Access Denied</h4>

<div class="alert alert-info" role="alert">
    Sorry, you can't access the site. This is probably because we've closed it to the public temporarily. Apologies, please come back soon.
</div>