@model User
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>Profile</h4>

<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" disabled />
</div>

<div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" disabled />
</div>

<div class="alert alert-info" role="alert">
    These details are managed by our <a href="https://accounts.londonbikers.com/manage">Accounts</a> website. 
    Please head there if you wish to change any details.
</div>