@{
    ViewData["Title"] = "About Us";
}

<div class="jumbotron">
    <h1 class="display-4">About us</h1>
    <p class="lead">We love photography, we love motorcycles and we're part of <a href="https://londonbikers.com/" target="_blank">londonbikers.com</a>.</p>
</div>

<h1 class="display-4">What's going on here?</h1>
<p>We publish a curated selection of the world's best motorcycle photos. Mainly along the themes of new motorcycles being designed or built, racing (BSB, WSB & MotoGP), bike shows and events for our <a href="https://londonbikers.com/" target="_blank">londonbikers.com</a> community.</p>
<p>We welcome, and fully credit contributions from photographers. If you would like to contribute a gallery to LB Photos, please contact us on <a href="mailto:photo.contributions@@londonbikers.com">photo.contributions@@londonbikers.com</a>.</p>

<h1 class="display-4">Backstory</h1>
<p>londonbikers.com is a community for motorcyclists in the London and surrounding areas, founded on the last day of 2004, by our founder <a href="https://twitter.com/jayvdz" target="_blank">Jay Van der Zant</a> as a way to document the London bike scene, which was pretty raucous back in those days. Jay was pretty much always seen with a camera, taking photos of the various meets around London, from the Ace Cafe, to Chelsea Bridge, to Frith Street in Soho and then further afield to various fun spots.</p>
<p>For a great many years the site was a mash-up of both an editorial website and a community. We would publish photos from bike nights, but also from editorial articles, news stories, and then later on bike shows and other press events when we grew popular enough to become accredited motorcycle press.</p>
<p>Before we had built a popular editorial site though, we loved going to race events, i.e. the British Superbikes series, but nobody knew of us back then, so we used to find ways to sneak into the paddock and pit lane to take photos. Though in time our photos generated enough interest for us to get noticed and gain official press status with whatever race events were being hosted in the UK. In time we would become an official supplier to the British Superbike (BSB) series. An achievement we were quite proud of.</p>
<p>Then, sometime around 2015, a good ten years after LB was born, and lives had moved on, we had to ask ourselves where our personal time was best spent (LB was not a profit-generated venture, we did it out of passion for motorcycling). We had all developed careers, some had families and commitments grew, it seemed that managing an editorial website was becoming an untenable job. This made us ask ourselves; could we continue doing this, or were we better off making some hard decisions? We couldn't afford the amount of time it took to run an editorial website, but the LB community was something we were passionate about, so made the decision to re-launch LB, focusing on the community. We did so, developing a new community website, without the editorial and galleries. At the time we had planned on adding the galleries back in, but never got round to it. Something we felt quite terrible about.</p>
<p>About three years after launching the new community site, we made the decision to move to an open-source platform for our community site, freeing up even more of our time. We explored bringing the galleries back into this site, but the fit wasn't a good one, so in 2020 we said enough was enough, we had to have the infamous LB galleries back and started development on a dedicated LB Photos website, this which you see before you now. The driving motivation was to get the complete archive of LB photos back online for posterity and to enable our racing photographers to publish their photos back on an official LB website in as best a form as they could be. The site launched in 2021 and is in constant development, with new features being continously added.</p>

<h1 class="display-4">Licensing photos</h1>
<p>Want to use any of our photos on your own site/socials? Printing something and would like to use any of our photos? All of our photos are available to license on a Royalty Free model. Please contact us on <a href="mailto:photo.licensing@@londonbikers.com">photo.licensing@@londonbikers.com</a> with details of the photo(s) you're interested in licensing. All budgets catered for. High-resolution copies without watermarks available.</p>

<h1 class="display-4">Licensing the site</h1>
<p>Want to run your own website using the LB Photos platform? We are open to white-labeling the site for your needs. Please contact us on <a href="mailto:photos.commercial@@londonbikers.com">photos.commercial@@londonbikers.com</a> to discuss this.</p>

<h1 class="display-4">The technology</h1>
<p>The LB Photos website is developed in-house, being constantly improved and designed to be infinitely scalable - With a keen focus on image quality (after being so disappointed with the image quality on many other photo sites/social networks). The site is built on the following tech stack:</p>
<div class="pb-3">
    <ul>
        <li>ASP.NET Core</li>
        <li>Azure Cosmos DB</li>
        <li>Azure Blob Storage</li>
        <li>Azure Message Queue</li>
        <li>Azure Application Insights</li>
        <li>Mailjet email delivery</li>
        <li>Dotnet Core micro-services</li>
        <li>Linux servers</li>
        <li>Knockout.js</li>
    </ul>
</div>