@using System.Linq
@using LB.PhotoGalleries.Application
@using Newtonsoft.Json
@{ 
    ViewData["Title"] = "Home";
    var galleries = (List<Gallery>)ViewData["galleries"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Welcome to over @(DateTime.Now.Year - 2004) years of <a href="https://londonbikers.com/">londonbikers.com</a> photos.
        Here you can find tens of thousands of our community, motorcycle and racing photos from MotoGP, World Superbikes, British Superbikes and Motorcross with coveted paddock, pitlane and grid access since that we've been publishing since very start of LB.
    </p>

    <p><b>Categories</b></p>

    <div class="row mb-3">
        <div class="col">
            @foreach (var category in Server.Instance.Categories.Categories)
            {
                <a asp-controller="Categories" asp-action="Details" asp-route-name="@Helpers.EncodeParamForUrl(category.Name)" class="btn btn-sm btn-outline-primary" role="button">@category.Name</a>
            }
        </div>
    </div>

    <p><b>Latest Galleries</b></p>
</div>

<div class="row" data-bind="foreach: Galleries">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <a data-bind="attr: { href: GetGalleryUrl(CategoryName, Id, Name) }"><img data-bind="attr: { title: Name, src: GetThumbnailUrl(ThumbnailStorageId, $element) }" class="img-fluid" /></a>
            <div class="card-body">
                <p class="card-text" data-bind="text: Name"></p>
                <div class="d-flex justify-content-between align-items-center">
                    <small data-bind="text: CategoryName" class="text-muted"></small>
                    <small class="text-muted"><span data-bind="text: ImageCount"></span> photos</small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center text-muted text-small pb-3">
    These are our latest galleries. For more, browse by category or search at the top
</div>

@section Scripts
{
    <script src="~/lib/knockout/dist/knockout-3.5.1.js"></script>

    <script type="text/javascript">

        // convert the gallery server objects into a new lightweight object to aid with rendering of the gallery grid
        // and convert to json so the Knockout script can parse it and use it.
        var payload = @Html.Raw(JsonConvert.SerializeObject(galleries.Select(g => new
                      {
                          g.CategoryId, 
                          g.Id, 
                          g.Name, 
                          g.ThumbnailStorageId,
                          g.ImageCount,
                          CategoryName = Server.Instance.Categories.Categories.Single(c => c.Id == g.CategoryId).Name
                      })));

        // for high-dpi displays we need to request a larger image than the space we intend to view it in.
        // this ensures images are as crisp as they can be for each client device.
        function GetThumbnailUrl(storageId, element) {
            var cardInnerWidth = $(element).parent().parent().innerWidth();
            var cardInnerHeight = Math.round(cardInnerWidth / 1.52); // 1.52 is the ratio of height to width we'd like to show the image at
            var scaledWidth = Math.round(cardInnerWidth * window.devicePixelRatio);
            var scaledHeight = Math.round(cardInnerHeight * window.devicePixelRatio);
            var url = `/di800/${storageId}?w=${scaledWidth}&h=${scaledHeight}&mode=crop`;
            return url;
        }

        // the view model that knockout uses to bind data to the html
        function ViewModel() {
            // parse the images from a json blob
            this.Galleries = ko.observableArray(payload);
        }

        $(document).ready(function() {
            ko.applyBindings(new ViewModel());
        });
    </script>
}
