/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom (non-bootstrap or asp.net) styles
-------------------------------------------------- */
.dropzone {
    border: 2px #ccc dashed;
    border-radius: 5px;
}

.image-border {
    border: 1px solid #ddd;
}

.grid-square {
    width: 202px;
    height: 202px;
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 5px;
    margin-bottom: 5px;
}

.grid-square-med {
    width: 282px;
    height: 282px;
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 5px;
    margin-bottom: 5px;
}

.container-max {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.image-other-container {
    max-width: 1140px;
    padding: 0 15px 0;
    text-align: center !important;
}

.info-box {
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
}
    .info-box .badge {
        font-size: 80%;
        padding: 5px;
        margin: 1px;
        background-color: #ccc;
        color: #666;
    }

.settings-box {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 80%;
}
    .settings-box a {
        color: #ccc;
    }
    .settings-box b {
        color: #888;
        text-transform: uppercase;
        font-size: 90%;
    }
    .settings-box div.col:first-of-type {
        padding-right: 5px;
    }
    .settings-box div.col:last-of-type {
        padding-left: 5px;
    }

.text-left {
    text-align: left;
} 

.text-small {
    font-size: 80%;
}

.setting-box {
    padding: 6px;
    background-color: #444;
    color: #fff;
    display: inline-block;
    margin: 1px;
    border-radius: 5px;
    font-size: 90%;
}

#photo-wrapper {
    position: relative;
    width: fit-content;
    text-align: center;
    display: inline-block;
}
    #photo-wrapper:hover #photo-overlay {
        opacity: 1;
    }

.photo-overlay-full-frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#photo-overlay {
    opacity: 0;
    transition: .5s ease;
    border-radius: 5px;
    color: #fff;
}
    #photo-overlay .row {
        margin: 0;
    }

#photo-left-nav-box {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#photo-overlay-middle {
    padding: 0;
}

#photo-middle-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#photo-middle-box-inner {
    padding: 5px 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#photo-right-nav-box {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pointer {
    cursor: pointer;
}

.post-box-bottom-row {
    padding-left: 35px;
}

/* use to render user-supplied text to mitigate xss risk */
.text-format {
    white-space: pre-line
}

.comment-user-pic {
    float: left;
    margin-right: 10px;
}

.no-float {
    clear: both;
}