/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background-color: #f8f8f8;
}

#logo {
    transform: rotate(-7deg);
    filter: drop-shadow(3px 3px 4px rgba(0,0,0,0.5));
    height: 80px;
    transition: .15s;
}

#logo:hover {
    filter: drop-shadow(3px 3px 4px rgba(0,0,0,0.5)) brightness(130%);
}

@media only screen and (max-width: 575px) {
    header .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    #logo {
        height: 55px;
    }
}

@media only screen and (min-width: 576px) {
    nav {
        height: 65px;
    }
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
    transition: .15s;
}
    a:hover {
        color: #ea1d25;
        text-decoration: none;
    }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

header .nav-link {
    color: #343a40 !important;
    transition: .15s;
}
    header .nav-link:hover {
        color: #ea1d25 !important;
    }

.page-item.sub-active .page-link {
    z-index: 1;
    color: #777;
    background-color: #eee;
    border-color: #ddd;
}

.text-med-size {
    font-size: 85%;
}

/* only show the first class on ipads, hide the others */
@media only screen and (min-width: 768px) and (max-width: 768px) {
    .show-768px-wide {
        display: initial;
    }
    .hide-less-than-768-wide {
        display: none;
    }
    .hide-more-than-768-wide {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .show-768px-wide {
        display: none;
    }
    .hide-less-than-768-wide {
        display: initial;
    }
    .hide-more-than-768-wide {
        display: initial;
    }
}

@media only screen and (min-width: 769px) {
    .show-768px-wide {
        display: none;
    }
    .hide-less-than-768-wide {
        display: initial;
    }
    .hide-more-than-768-wide {
        display: initial;
    }
}

h5 {
    background-color: #2c2c2c;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    padding: 2px 5px 1px 5px;
    font-family: sans-serif;
    border-radius: 3px;
    font-size: 1em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom (non-bootstrap or asp.net) styles
-------------------------------------------------- */
.dropzone {
    border: 2px #ccc dashed;
    border-radius: 5px;
}

.image-border {
    border: 1px solid #ddd;
}

.grid-square {
    width: 282px;
    height: 282px;
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 5px;
    margin-bottom: 5px;
}

.grid-square-med {
    width: 282px;
    height: 282px;
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 5px;
    margin-bottom: 5px;
}

.container {
    max-width: 1200px;
}

.container-max {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.image-other-container {
    max-width: 1140px;
    padding: 0 15px 0;
    text-align: center !important;
}

.info-box {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px;
}
    .info-box .badge {
        font-size: 80%;
        padding: 7px;
        margin: 3px 1px;
        background-color: #d7d7d7;
        color: #666;
    }

.info-box-light {
    background-color: #f8f8f8;
}

.settings-box {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 80%;
}
    .settings-box a {
        color: #ccc;
    }
    .settings-box b {
        color: #888;
        text-transform: uppercase;
        font-size: 90%;
    }
    .settings-box div.col:first-of-type {
        padding-right: 5px;
    }
    .settings-box div.col:last-of-type {
        padding-left: 5px;
    }

.text-left {
    text-align: left !important;
} 

.text-small {
    font-size: 80%;
}

.setting-box {
    padding: 6px;
    background-color: #444;
    color: #fff;
    display: inline-block;
    margin: 1px;
    border-radius: 5px;
    font-size: 90%;
}

#photo-wrapper {
    position: relative;
    width: fit-content;
    text-align: center;
    display: inline-block;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}
#photo-wrapper-loader {
    width: fit-content;
    display: inline-block;
    background-image: url(/img/three-dots.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 48px;
}
    #photo-wrapper:hover #photo-overlay {
        opacity: 1;
    }

.photo-overlay-full-frame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#photo-overlay {
    opacity: 0;
    transition: .5s ease;
    border-radius: 5px;
    color: #fff;
}
    #photo-overlay .row {
        margin: 0;
    }

#photo-left-nav-box {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#photo-overlay-middle {
    padding: 0;
}

#photo-middle-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#photo-middle-box-inner {
    padding: 5px 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#photo-right-nav-box {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pointer {
    cursor: pointer;
}

.post-box-bottom-row {
    padding-left: 35px;
}

/* use to render user-supplied text to mitigate xss risk */
.text-format {
    white-space: pre-line
}

.text-link {
    /* empty class used to linkify user-supplied content */
}

.comment-user-pic {
    float: left;
    margin-right: 10px;
}

.comment-user-initials {
    background-color: aquamarine;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 12.5px;
}

.no-float {
    clear: both;
}

img.image-fade, .image-fade img {
    opacity: 0.4;
}

.image-fade img:hover {
    opacity: 1;
}

@media only screen and (min-width: 500px) {
    #footer-right {
        float: right !important;
    }
}

@media only screen and (max-width: 499px) {
    #footer-right {
        line-height: normal;
        position: absolute;
        margin-bottom: 15px;
    }
}

.btn-xsm, .btn-group-xsm > .btn {
    padding: 0.05rem 0.25rem 0.10rem 0.25rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-v-spaced {
    margin-bottom: 5px;
}

.card img {
    transition: 0.15s;
}
    .card img:hover {
        filter: opacity(85%);
    }

.card-body-thin {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.card-body-med {
    padding-top: 0.90rem;
    padding-bottom: 0.90rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.card-body-bottom {
    border-top: 1px solid #e5e5e5;
}

.boxed {
    border: 1px solid #ddd;
    padding: 20px 20px 10px 20px;
}

.page-link-light {
    color: #aaa !important;
}

.float-clear {
    clear: both;
}

.link-disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.card img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.mt-75 {
    margin-top: 75px;
}

.container-light {
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 10px;
}