@{
    ViewData["Title"] = "Categories Admin";
}

<div class="text-center">
    <h1 class="display-4">Categories Admin</h1>
    <p>From here you can create, update and delete (empty) gallery categories.</p>
</div>